.song .measure {
    display: inline-block;
    position: relative;
}

.song .grid .beat {
    display: inline-block;
}

.song .grid .beat .division {
    display: inline-block;
    vertical-align: top;
}

.song .selected {
    background: rgba(55, 54, 145, 0.75);
}

.song .chord-track .grid .beat .division .chord {
    font-size: 24px;
}

.song .chord-track .grid .beat .division {
    height: 30px;
}

.song .selection {
    position: absolute;
    background: rgba(55, 54, 145, 0.75);
    border-radius: 10px;
}

.song .measure.placeholder {
    vertical-align: top;
}

.song .measure.placeholder .selection {
    width: 50px;
}
