.song .measure {
    display: inline-block;
    position: relative;
}

.song .selected {
    font-weight: bold;
    color: #0010ff;
}

.song .chord-track .chord {
    font-size: 24px;
    position: absolute;
}

.song .chord-track .grid {
    height: 30px;
}

.song .selection {
    position: absolute;
    background: rgba(55, 54, 145, 0.75);
    min-height: 30px;
}

.song .grid {
    border: 1px solid black;
}

.song .grid .marker {
    position: absolute;
    min-height: 100%;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: black;
    margin-top: -1px;
    margin-bottom: -1px;
}

.song .measure-placeholder {
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.song .measure-placeholder .selection {
    width: 50px;
}
