.song .measure {
    display: inline-block;
    position: relative;
}

.song .selection {
    position: absolute;
    border: 1px solid black;
    border-bottom: 0;
    height: 5px;
}

.song .measure .chord {
    position: absolute;
    font-size: 24px;
}

.song .measure.placeholder {
    vertical-align: top;
}

.song .measure.placeholder .selection {
    width: 50px;
}
